@media only screen and (min-width : 950px) {

   #mobile-frame{
	  display:none;
   }
   
   #windows-frame{
      display:block;
	  z-index:0;
   }   
   
	
	 #wrapper1 {
        width:100%;
        margin: 0 auto;
    }
    #wrapper2 {
        width:100%;
        margin: 0 auto;
    }
		
	#wrapper3{
		background-color:#fff;
		width:100%;
		height:220px;
	}
	
	#mobilefooter{
		display:none;
	}
		
	#footer{
		display:block;
	}
	

}
